page-find {
    .find{
        background-color:#2d333b; 
        .cursor-input{
            background: transparent;
            border: none;
            padding-left: 0;
            ion-input, ion-select,ion-label{
				color: #fff;
            }
        }
        ion-list-header{
            color: #fff;
            background-color: transparent;
        }
        .item-list{
            background-color: #e6e6e6;
            color: #343c41;
            ion-note{
                color: #000!important;
            }
           
        }
        .text-find,.subtitle,.rut{
            color:#adc60e;
        }
        ion-spinner  {
            width: 28px;
            display: block;
            margin: auto;
            height: 28px;
            *{
                stroke: #adc60e;
            }
          }
    }
}
