
   <ion-header>
      <ion-navbar color="secondary">
         <ion-title>
            <img alt="logo" height="40"   src="assets/imgs/logo.png" > 
         </ion-title>
      </ion-navbar>
   </ion-header>

   <ion-content padding class="find">
      <ion-list>
        <ion-item class="cursor-input">
          <ion-label>Regiones</ion-label>
          <ion-select   [(ngModel)]="region"   cancelText="Cancelar" okText="Aceptar" (ngModelChange)="changeRegion($event)">
          <ion-option [value]="region" *ngFor="let region of regiones">{{region.nombre}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="cursor-input">
          <ion-label>Comunas</ion-label>
          <ion-select   [(ngModel)]="comuna"   cancelText="Cancelar" okText="Aceptar" (ngModelChange)="changeComuna($event)">
          <ion-option [value]="comuna" *ngFor="let comuna of comunas">{{comuna.nombre}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="cursor-input">
            <ion-label>Activar Filtro</ion-label>
            <ion-toggle  [(ngModel)]="filtro"  (ionChange)="updateFilter()"></ion-toggle>
          </ion-item>
      </ion-list>
      <form [formGroup]="findForm" (ngSubmit)="find()" >
        <ion-list>
          <h3 class="subtitle">  Buscar por Nombre y/o Apellido</h3>
          <ion-item  class="cursor-input">
              <ion-input autocapitalize="off" autocorrect="off" type="text"  formControlName="nombre" placeholder="Nombre" ></ion-input>
          </ion-item>
          <ion-item class="cursor-input" >
              <ion-input autocapitalize="off" autocorrect="off" type="text"  formControlName="apellido" placeholder="Apellido"  ></ion-input>
          </ion-item>
        </ion-list>
        <button ion-button round full   type="submit" [disabled]="!findForm.controls.nombre.value && !findForm.controls.apellido.value">Buscar</button>
      </form>
      <br>
      <ion-list>
         <div *ngIf="(personas$ | async) as personas; else loading" >
               <ion-item text-wrap  class="item-list" *ngFor="let persona of personas">
                  <h2>{{persona.nombre+' '+persona.apellido}}</h2>
                  <h3>RUT <span class="rut">{{persona.rut  | rut }}</span></h3>
                  <p >{{persona.direccion?.comuna.nombre+', '+persona.direccion?.calle}}.</p>
                  <button ion-button clear item-end color="secondary" (click)="detail(persona)">Ver Detalle</button>
               </ion-item>
            <ion-item *ngIf='(personas$| async)?.length === 0' class="item-list">Sin resultados...</ion-item >
         </div>
         <ng-template #loading >
            <div *ngIf="search">
               <h1 class="text-find" text-center>Buscando usuarios...</h1>
               <ion-spinner text-center></ion-spinner>
            </div>
         </ng-template>
      </ion-list>
   </ion-content>